body {
    background-color: #d0e4fe;
}

h4 {
    font-family: "open sans",arial,sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
}

label {
    font-family: "open sans",arial,sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
}

.subTitulos {
    font-family: "open sans",arial,sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
}


.tablaListaEstudiantes {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 30%;
}

#mostrarTabla td, #mostrarTabla th {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
}

#mostrarTabla tr ntch-child(event) {
    background-color: #f2f2f2;
}

#mostrarTabla tr:hover {
    background-color: #ddd;
}

#mostrarTabla th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #4CAF50;
    color: #ffffff;
}


#titulo {
    text-align: center;
}

#tituloTabla {
    text-align: center;
}
