<!DOCTYPE html>
<html ng-app="carListApp">
<head>
	<title></title>
	<meta charset="utf-8">
	<script type="text/javascript" src="../../angularjs/angular.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/controllers.js"></script>
</head>
 <body>
 	<div ng-controller="ListController">
 		<h1>{{appTitle}}</h1>
 		<form>
 			<label>{{formHeader}}</label>
 			<p>
 				{{formTextBrand}}: <input type="text" ng-model="brand">	
 			</p>
 			<P>
 				{{formTextYear}}: <input type="text" ng-model="year">
 			</P>
 			<p>
 				<button ng-click="addCar()">{{addText}}</button>
 			</p> 			
 		</form>
 		<hr>
 		<ul>
 			<li ng-repeat="car in cars">
 				{{car.brand}} {{car.year}}
 				<button ng-click="deleteCar($index)">{{deleteText}}</button>
 			</li>
 		</ul>

 	</div>
</body>
</html>