<!DOCTYPE html>
<html ng-app="smartExpressionApp">
<head>
	<title>Expressions</title>
	<meta charset="utf-8">
	<script type="text/javascript" src="../../angularjs/angular.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/controllers.js"></script>
</head>
<body>
	<div ng-controller="SmartController">
		<h1>Evaluador de expresiones</h1>

		<form>
			<label>Digite la expresión que desea evaluar</label>
			<p>
				<label>Expression</label>
				<input type="text" ng-model="expression">
				<button ng-click="evaluate()">Evaluar</button>
			</p>
		</form>

		<hr>

		<ul>
			<li ng-repeat="expression in expressions">
			<button ng-click="deleteExp($index)">Eliminar</button>
				{{expression.value}} =>
				<span ng-bind="$parent.$eval(expression.value)"></span>
			</li>
		</ul>
	</div>
</body>
</html>